// https://v1.vuepress.vuejs.org/zh/config/#patterns
// 如果要对默认预设的样式进行简单的替换，或者定义一些变量供以后使用，你可以创建一个 .vuepress/styles/palette.styl 文件。

$gitalkContainer ?= '#gitalk-container';

{$gitalkContainer}
  margin: 0 auto;
  padding: 2rem 3.5rem;
